.food-section {
  background-color: var(--secondary-color-bg);
}
.food-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 1rem; */
  /* align-items: center;
  justify-content: center; */
  padding-top: 14.5rem;
  padding-bottom: 14.5rem;
}

.food-heading {
  font-family: var(--merienda-font);
  font-weight: 700;
  font-size: 5rem;
  line-height: 65px;
  color: var(--primary-color);
  margin-bottom: 1rem;
  font-style: normal;
}
.food-description {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 29px;
  color: var(--paragraph-color);
  margin-bottom: 1.4rem;
  width: 56.7rem;
}
.food-btn {
  border: none;
  color: var(--white-color);
  background: var(--primary-color);
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  font-weight: 500;
  border-radius: 120px;
  padding: 15px 60px;
}
.food-img {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%;
  height: 100%; */
  position: relative;
  overflow: hidden;
}

.city {
  width: 80%;
  /* height: 100%; */
  position: relative;
  animation: city 3s linear infinite;
}
@keyframes city {
  100% {
    transform: translateX(-60px);
  }
}

.bike {
  position: absolute;
  width: 95%;
  top: -50px;
  animation: bike 3s linear infinite;
}
@keyframes bike {
  100% {
    transform: translateX(80px);
  }
}
