/* ===============
General CSS
================== */
:root {
  --white-color: #ffffff;
  --paragraph-color: #676767;
  --black-basic-color: #3f3f3f;
  --disable-color: #c7c7c7;
  --low-highlighted-color: #9f9f9f;
  --primary-color: #396c03;
  --primary-color-bg: hsla(89, 37%, 41%, 0.1);
  --secondary-color: #ff8b00;
  --secondary-color-bg: rgba(255, 140, 0, 0.05);
  --poppins-font: "Poppins", sans-serif;
  --merienda-font: "Merienda", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: var(--poppins-font);
  line-height: 1;
  font-weight: 400;
}
.container {
  max-width: 123.4rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
/* ===============
Hero section 
================== */
.section-hero {
  background-color: var(--primary-color-bg);
  position: relative;
}
/* background image start */
.hero-background {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 28.8rem;
}
.hero-background.left {
  left: 0;
}
.hero-background.right {
  right: 0;
}
/* background image end */
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 8.5rem;
  padding-bottom: 2.4rem;
}
/* heading start */
.hero-heading {
  font-family: var(--merienda-font);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 6.5rem;
  line-height: 8.4rem;
  margin-bottom: 3rem;
}
.hero-heading span {
  color: var(--secondary-color);
}
.hero-description {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 34px;
  color: var(--paragraph-color);
  margin-bottom: 2.4rem;
}
/* Hero search box start */
.hero-search-box {
  position: relative;
}
.search-input {
  display: block;
  width: 100%;
  height: 7rem;
  background-color: var(--white-color);
  opacity: 0.3;
  border: 2px solid var(--primary-color);
  border-radius: 120px;
}
.btn {
}
.search-button {
  padding: 1.5rem 5rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 37px;
  border-radius: 100px;
  position: absolute;
  border: none;
  top: 0;
  bottom: 0;
  right: 0;
}
/* Hero search box end */

/* Hero image box start */
.hero-img {
  width: 100%;
}
/* Hero image box end */

/* ===============
Media screen
================== */
/* 
with 1344px (Smaller desktop)
*/
@media (max-width: 84em) {
  html {
    font-size: 55.5%;
  }
}
/* 
992px
*/
@media (max-width: 62em) {
  html {
    font-size: 50.5%;
  }
  /* Hero section */
  .hero-container {
    grid-template-columns: 1fr;
    padding-top: 6.5rem;
    padding-bottom: 1.4rem;
  }
  .hero-heading {
    font-size: 4.5rem;
    line-height: 6.4rem;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-description {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.4rem;
  }

  /* hero section end */
}
/* 
672px

*/
@media (max-width: 42em) {
  html {
    font-size: 45.5%;
  }
}
